.page-container {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 42px;
  color: #1b5e20;
  margin-bottom: 20px;
}
